<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    <script type='text/javascript'>
        angular.module("myapp", [])
            .controller("MyCtrl", function($scope) {

                $scope.EDIT_TEXT=null;
                $scope.M_I=null;
                $scope.O_I=null;
                $scope.SPINNER=null;

               $scope.make_table=function(){



               }

    });
    </script>
<body>
<form>
    Enter Name :  <input type='text' id='u_name' autoincrement="off" ng-model="name" required >
    Enter Gender :<select ng-model="mychoice">
                    <option id="" selected disabled hidden >Choose here</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                 </select>
    Enter Permanent Address :<input type="text" id="u_address" autoincrement="off" ng-model="address" required>

    Enter Local Address :<input type="text" id="u_localaddress" autoincrement="off" ng-model="local_address" >

    Enter Mobile no :<input type="text" pattern="((\+*)((0[ -]+)*|(91 )*)(\d{12}+|\d{10}+))|\d{5}([- ]*)\d{6}" id="u_mobno" autoincrement="off" ng-model="mobileno" required>

    Enter Landline :<input type="text" id="u_landline" autoincrement="off" ng-model="landline" >

    Enter Email:<input type="email" id="u_email" autoincrement="off" ng-model="email_id" >

    Enter city:<input type="text" id="u_city" autoincrement="off" ng-model="city" >

    Enter State:<select ng-model="mychoice">
                    <option id="select_state" selected disabled hidden >Choose here</option>

                 </select>

    Education (enter 10th) :<input type="text" id="u_10th" autoincrement="off" ng-model="10thstd" >

    Education (enter 12th) :<input type="text" id="u_12th" autoincrement="" ng-model="12thstd">

    Subject :<input type="text" id="u_subject" autoincrement="" ng-model="subject">

    Degree : <input type="text" id="u_degree" autoincrement="" ng-model="degree">

    Field : <input type="text" id="u_field" autoincrement="" ng-model="field">

    Entrance examination given :<select ng-model="mychoice_exam">
                    <option id="select_exam" selected disabled hidden >Choose here</option>

                 </select>

    MHT-CET : <input type="checkbox" id="u_mht-cet" ng-model="mht-cet" autocomplete="off" >

    MHT-CET marks : <input type="text" id="u_marks" autoincrement="" ng-model="cet_marks" >

    JEE-MAINS :<input type="checkbox" id="u_jee" ng-model="jee_marks" autocomplete="off" >

    JEE-MAINS marks : <input type="text" id="u_jee_marks" autoincrement="" ng-model="jee_marks" >

     MITWPU(BBA) : :<input type="checkbox" id="u_bba" ng-model="bba" autocomplete="off" >

    MITWPU marks : <input type="text" id="u_ MITWPU_marks" autoincrement="" ng-model="bba_marks" >

     MITWPU(MPG) : :<input type="checkbox" id="u_mpg" ng-model="mpg" autocomplete="off" >

    MITWPU marks : <input type="text" id="u_ mpg_marks" autoincrement="" ng-model="mpg_marks" >

    Other Exam :<input type="checkbox" id="u_other" ng-model="other" autocomplete="off" >

    Other Exam Marks:<input type="checkbox" id="u_other_exam" ng-model="other_marks" autocomplete="off" >

    Domicile :<select ng-model="mydomicile">
                    <option id="select_domicile" selected disabled hidden >Choose here</option>

                 </select>

    Special Achievements :<input type="text" id="u_achievements" autocomplete="off" ng-model="mpg_marks" >

    Interested area in specialization :<input type="text" id="u_specialization" autoincrement="" ng-model="mpg_marks" >

    Interest course : <select ng-model="mycouse">
                    <option id="select_course" selected disabled hidden >Choose here</option>

                 </select>
    SOurce of information :<select ng-model="myinfo">
                    <option id="select_info" selected disabled hidden >Choose here</option>

                 </select>

    Remarks : <input type="text" id="u_remarks" autocomplete="off" ng-model="remarks" >

    Name of facility Advisor : <input type="text" id="u_adv" autocomplete="off" ng-model="advisor" >

    Comments : <input type="text" id="u_comments" autocomplete="off" ng-model="comments" >

    Admission Stats : <select ng-model="myinfo">
                    <option id="select_status" selected disabled hidden >Choose here</option>

                 </select>
</form>
</body>
</html>